* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: rgb(173, 173, 173);
}
html,
body {
    width: 100%;
}
body {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    @media (min-width: 1200px) {
        max-width: 1600px;
        margin: auto;
    }
}
a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

.show-nav {
    display: flex !important;
}

@media (max-width: 500px) {
    * {
        font-size: 0.9em;
    }
}

.sticky {
    position: fixed;
    height: auto;
    animation: fadeIn 0.75s forwards;
    width: 100%;
    background: white;
    font-size: 0.95em;
    // border-bottom: 1px solid black;
    z-index: 1000;
}
.thin {
    margin: 0 0 0 1em !important;
}

header {
    @media (min-width: 800px) and (max-width: 1200px) {
        font-size: 0.8em;
    }
    background: white;
    max-width: 1600px;
}
// Nav
.contact-bar {
    width: 100%;
    padding: 0.15em 0;
    background: navy;
    display: flex;
    top: -2em;
    z-index: 1000;
    justify-content: space-around;
    @media (min-width: 700px) {
        justify-content: flex-end;
    }
    justify-content: flex-end;
    ul {
        @media (max-width: 699px) {
            margin: auto;
        }
        list-style: none;
        display: flex;

        align-items: center;
        // padding-right: 20px;
        color: white;
        padding: 0 0.25em;
        font-size: 0.9em;
        i {
            padding: 0.25em;
            margin: 0.25em;
        }
        .contact-bar__item {
            padding: 0 0.5em;
            @media (min-width: 700px) {
                margin-right: 0.5em;
            }
        }
    }
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    @media (min-width: 700px) {
        justify-content: space-between;
    }
    @media (min-width: 800px) and (max-width: 1120px) {
        flex-direction: column;
    }
    @media (min-width: 700px) and (max-width: 1012px) {
        width: 95%;
        margin: auto;
    }

    .fa-bars {
        font-size: 1.75em;
        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */
        @media (min-width: 800px) {
            display: none;
        }
    }
    ul.nav-menu {
        display: none;
        flex-direction: column;

        @media (min-width: 800px) {
            flex-direction: row;
            display: flex;
        }
        list-style: none;
        margin: 0 20px;
        @media (max-width: 699px) {
            margin: 0 10px;
        }
        li {
            padding: 20px;
            font-size: 1.1em;
            a {
                color: rgb(63, 63, 63);
            }
        }
    }
}

// Sidemenu

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
//
.logo-cont {
    display: flex;
    align-items: center;
    margin: 1em;

    img {
        @media (max-width: 699px) {
            height: 50px;
        }
        height: 70px;
        width: auto;
    }
    .logo-title {
        a {
            font-family: "Crimson Text";
            padding: 0;
            font-size: 1em;
            color: black;
            display: block;
            h1 {
                font-size: 1.3em;
                text-transform: uppercase;
            }
            h2 {
                font-size: 1.2em;
                font-weight: 400;
            }
        }
    }
}

//Hero
.hero {
    width: 100%;
    @media (min-width: 699px) {
        min-height: 550px;
    }
    padding-bottom: 50px;
    background-image: url("img/hero-dark.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Crimson Text";
    .hero-text {
        width: 50%;
        @media (max-width: 699px) {
            width: 95%;
            margin: auto;
            padding: 2.5em 1.5em;
        }
        text-align: right;

        @media (min-width: 700px) {
            margin-left: auto;
            padding: 4em 40px 1em 0;
        }
    }
    h1 {
        text-transform: uppercase;
        font-size: 3em;
        line-height: 1em;
        letter-spacing: 0.03em;
        @media (max-width: 699px) {
            text-align: center;
        }
    }
    hr {
        @media (max-width: 699px) {
            margin: auto;
        }
        width: 5em;
        border: none;
        @media (min-width: 700px) {
            margin-left: auto;
            margin-top: 1em;
        }

        padding-top: 0.25em;
        background-color: white;
    }

    h2 {
        font-weight: 300;
        font-size: 1.75em;
        letter-spacing: 0.01em;
        line-height: 1.1em;
        @media (max-width: 699px) {
            text-align: center;
            margin: 0.3em auto;
        }
    }

    .cta {
        @media (max-width: 699px) {
            width: 100%;
            margin: auto;
            justify-content: center;
            flex-direction: column;
        }
        margin-left: auto;
        font-family: "Segoe UI";
        padding: 0 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        a {
            @media (max-width: 699px) {
                width: 100%;
                text-align: center;

                margin: 0.25em auto;
            }
            padding: 0.75em 1em;
            font-size: 1.1em;
            // font-weight: bold;
            border-radius: 5px;
            margin-left: 1.5em;
            text-transform: uppercase;
        }
        a:nth-of-type(1) {
            background: rgb(0, 192, 192);
            color: white;
        }
        a:nth-of-type(2) {
            background: white;
            color: black;
        }
    }
}

//Welcome
.welcome {
    background: #00436a;
    color: white;
    .welcome-cont {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        @media (max-width: 699px) {
            flex-direction: column;
        }
        img {
            @media (max-width: 699px) {
                width: 80%;
                margin: 1em auto;
            }
            width: 45%;
            margin: 2.5%;
        }
        .welcome-cont__content {
            @media (max-width: 699px) {
                width: 95%;
            }
            width: 45%;
            margin: 2.5%;
            h2 {
                font-size: calc(1em + 0.5vw);
                @media (max-width: 699px) {
                    text-align: center;
                }
            }
            p {
                font-size: calc(0.75em + 0.15vw);
                width: 90%;
                margin-top: 1em;
                text-align: justify;
                @media (max-width: 699px) {
                    font-size: 1.2em;
                    margin: 0.5em auto;
                }
            }
        }
    }
    hr {
        width: 3em;
        padding-top: 0.25em;
        background: white;
        border: none;
        @media (max-width: 699px) {
            margin: 0.5em auto;
        }
    }
}

//Services

.services {
    background: #d0fffa;
    h2 {
        text-align: center;
        padding: 1em 0 0.15em 0;
        text-transform: uppercase;
        opacity: 0;
        transform: translateY(0);
        transition: transform 1s forwards;
        color: rgb(0, 0, 63);
        @media (max-width: 699px) {
            font-size: 1.5em;
        }
    }
    hr {
        width: 3em;
        margin: auto;
        padding-top: 0.25em;
        background: rgb(0, 0, 63);
        border: none;
        opacity: 0;
    }
    .services-cont {
        opacity: 0;
        width: 95%;
        margin: auto;
        @media (max-width: 699px) {
            font-size: 1.25em;
        }
        @media (min-width: 700px) {
            width: 90%;
        }
        @media (min-width: 1200px) {
            width: 80%;
        }
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .services-cont__card {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            margin: 1.5em;
            p {
                font-size: 0.9em;
                // text-align: justify;
                color: rgb(79, 79, 79);
            }
            i,
            h3 {
                color: navy;
            }

            @media (min-width: 700px) {
                flex-basis: 40%;
            }
            @media (min-width: 1200px) {
                flex-basis: 26%;
            }
            .services-cont__card__title {
                @media (max-width: 699px) {
                    justify-content: center;
                    font-size: 1em;
                }
                i {
                    font-size: 1.75em;
                    margin-right: 0.5em;
                }
                h3 {
                    font-size: 1.15em;
                }

                display: flex;
                // justify-content: center;
                align-items: center;
                margin: 1em 0;
                // margin-left: -2em;
            }
        }
    }
}

// Green block

.green-block {
    width: 100%;
    background: #08b6af;
    height: 100px;
}

//Why us

.why-us {
    background: #001b83;
    h2 {
        color: rgb(0, 255, 255);

        text-transform: uppercase;
        font-weight: 300;
        @media (max-width: 699px) {
            text-align: center;
            font-size: 1.25em;
        }
    }

    hr {
        width: 3em;
        padding-top: 0.25em;
        background: white;
        border: none;
        @media (max-width: 699px) {
            margin: auto;
            padding-top: 0.1em;
        }
    }
    .why-us-cont {
        // width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 700px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 699px) {
            font-size: 1.5em;
        }
        .why-us-cont__content {
            width: 100%;
            @media (min-width: 700px) {
                margin: 4em 0 5em 6em;
            }

            color: white;
            opacity: 0;

            .why-us-content__card-cont {
                display: flex;
                flex-wrap: wrap;

                .card-cont__card {
                    margin: 1.5em 1.5em 1.5em 0;

                    .card__title {
                        display: flex;
                        align-items: center;
                        @media (max-width: 699px) {
                            justify-content: center;
                            font-size: 0.9em;
                        }
                    }
                    @media (min-width: 800px) {
                        width: 42%;
                    }
                    i {
                        font-size: 1.75em;
                        margin: 0.5em 0.25em 0.5em 0;
                    }
                    p {
                        color: #cefffd;
                        font-size: 0.9em;
                        width: 90%;
                        @media (max-width: 699px) {
                            margin: auto;
                            font-size: 0.75em;
                            width: 85%;
                            padding-left: 1em;
                            // text-align: justify;
                        }
                    }
                }
            }
        }
        img {
            width: 90%;
            height: auto;
            margin: auto;
            @media (max-width: 699px) {
                grid-row: 1;
                margin: auto;
            }
            @media (min-width: 700px) {
                margin-left: auto;
            }

            // transform: translateY(-3em);
        }
    }
}

// Testimonials
.testimonials {
    background: white;
}
.testimonials__cont {
    width: 90%;
    margin: auto;
    padding: 2em 0;
    @media (max-width: 699px) {
        font-size: 1.5em;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 1.5em auto 0.25em auto;
    }

    hr {
        width: 3em;
        padding-top: 0.25em;
        background: black;
        border: none;
        margin: auto;
    }
}

// Carousel

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 2em auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    p {
        background: #0056d6;
        color: white;
        padding: 2.5em 3em;
        border-radius: 10px;
        width: 70%;
        margin: auto;
        text-align: justify;
        @media (max-width: 699px) {
            width: 100%;
            padding: 1em;
        }
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1em;
    padding: 16px;
    color: #003e9b;
    font-size: 2.5em;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    @media (max-width: 699px) {
        top: 110%;
    }
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: black;
    text-decoration: none;
}

/* Caption */
.caption {
    display: block;
    color: #f2f2f2;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    // position: absolute;
    // bottom: 12px;
    // right: 20%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

//Footer
footer {
    width: 100%;
    background: rgb(37, 37, 37);
    color: white;
    @media (max-width: 699px) {
        font-size: 1.15em;
    }
    i {
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
    h4 {
        font-size: 1.25em;
        margin-bottom: 0.25em;
    }
    .footer__cont {
        width: 90%;
        margin: auto;
        display: flex;
        @media (max-width: 699px) {
            flex-direction: column;
            padding: 2em 1em;
        }
        justify-content: space-between;

        padding: 4em 2em;
    }
    .footer__about {
        width: 40%;
        @media (max-width: 699px) {
            width: 100%;
        }
    }
    .footer__contact {
        width: 30%;
        @media (max-width: 699px) {
            width: 100%;
            margin-top: 2em;
        }
        @media (min-width: 700px) and (max-width: 1000px) {
            width: 40%;
            margin-top: 2em;
        }
        hr {
            width: 3em;
            padding-top: 0.15em;
            background: white;
            border: none;
            margin-bottom: 1em;
        }
        ul {
            list-style: none;
            @media (max-width: 699px) {
                font-size: 1.15em;
            }
        }
    }
}

.fadeIn {
    animation: fadeIn 0.9s forwards;
    animation-timing-function: cubic-bezier(0.58, 0, 0.42, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }

    // 80% {
    //     transform: translateY(0.25em);
    // }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
